.scroll::-webkit-scrollbar {
  visibility: hidden;
  width: 10px;
}

.scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
  border-radius: 5px;
}
.scroll::-webkit-scrollbar-thumb {
  background: #b5b5b599;
  border-radius: 5px;
}
.full-heigth {
  height: 100vh;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title- {
  text-align: center;
  margin-block: 20px;
}
